@use "src/styles/variables" as *;

.order-page {
  padding: 5px 30px;
  h2 {
    line-height: 1.4em;
    vertical-align: middle;
    strong {
      font-size: 1.4em;
      margin-right: 8px;
    }
  }
  .order-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    &.wide {
      .ant-btn {
        width: 100%;
      }
    }
  }
  .action-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.virtual-hostess {
  .qr-code {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  h3 {
    text-align: center;
    margin-top: 15px;
  }
  .drink-list {
    margin-top: 50px;
  }
}