@use "src/styles/variables" as *;

.photo-upload {
  padding: 5px 20px 50px 20px;
  .action {
    display: flex;
    justify-content: center;
    .button-container {
      width: 100%;
      display: flex;
      justify-content: center;
      .photo-uploader-button {
        font-size: 1.8rem;
        color: $pink;
        width: auto;
      }
    }
  }
  .intro {
    margin-bottom: 50px;
    .action-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
  .ant-upload-select {
    color: $gold;
  }
}

@media (min-width: 768px) {
.photo-upload {
  padding: 5px 0 50px 0;
}
}
