@use "src/styles/variables" as *;

:root {
  font-family: "Roboto Mono", "Roboto", sans-serif;

}

body {
  text-align: left;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $black;
  color: $gold;
  font-size: $font-size;
}

h2,
h3,
h4,
h5,
h6 {
  color: $gold;
}

h1 {
  font-family: "Playwrite AR", sans-serif;
  font-size: 1.8rem;
  font-weight: $font-weight;
  color: $gold;
  &.small {
    margin-top: 0;
    font-size: 1.2rem;
  }
}

h2 {
  font-size: 1.7rem;
  font-weight: $font-weight;
}

h3 {
  font-size: 1.3rem;
  font-weight: $font-weight;
  margin: 0 0 2rem 0;
  padding: 0;
  color: $gold;
}

.content-section {
  padding: 1rem;
}

.text-center {
  text-align: center;
}

.ant-spin {
  width: 100%;
}

.ant-btn-primary:disabled {
  color: $gold;
  opacity: 0.2;
}

.ant-btn {
  border-color: $gold;
  color: $gold;
  &:not(:disabled):not(.ant-btn-disabled):hover {
    border-color: $gold;
    color: $gold;
    opacity: 0.8;
  }

}

.ant-btn-primary {
  background-color: $red-2;
  border-color: $red-2;
  color: $gold;
  font-weight: $font-weight-bold;
  &:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: $red-2;
    border-color: $red-2;
    color: $gold;
    opacity: 0.8;
  }
}

.ant-select {
  .ant-select-arrow {
    color: $gold;
  }
  .ant-select-clear {
    color: $red-2;
    font-size: 1.2em;
    margin-top: -8px;
    &:hover {
      color: $gold;
    }
  }
  .anticon-close {
    color: $gold;
  }
  &.ant-select-disabled{
    opacity: 0.2;
  }
}
.ant-select-dropdown {
  background: $red-2;
  .ant-select-item-option {
    color: $gold;
    &:hover {
      background: $red-2;
    }
  }
  .ant-select-item {
    margin: 1px 0;
  }
  .ant-select-item-option-selected {
    opacity: 0.6;
  }
}

.ant-float-btn-default .ant-float-btn-body {
  background: $black;
  border: 1px solid;
}
.ant-btn-default {
  background: transparent;
  font-weight: $font-weight-bold;
  &:hover {
    background: $white;
  }
}

.ant-drawer {
  .ant-drawer-content {
    background: $black;
  }
  .ant-drawer-close {
    color: $gold;
  }
}

.ant-modal{
  .ant-modal-content {
    border: 1px solid $red-2;
    .anticon-close {
      color: $gold;
    }
    }
}

.ant-switch {
  border: 1px solid $gold;
  .ant-switch-handle::before {
    margin-top: -2px;
  }
}

.ant-input {
  background-color: $black !important;
  &.ant-input-status-success {
    background-color: $black !important;
  }
  &.ant-input-disabled {
    opacity: 0.2;
  }
}


.ant-checkbox {
  .ant-checkbox-inner {
    background-color: $black;
  }
}

.drink-icon {
  margin-bottom: -2px;
  min-width: 15px;
  min-height: 15px;
  display: inline-block;
  background: url('./svg/drink-icon.svg');
  background-size: cover;
  background-color: transparent;
  color: $gold;
  background-position: top left;
}

.drink-list {
  .order-item {
    border: 1px solid $red-2;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: $border-radius;
    position: relative;
    .ant-btn.remove {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
    .drink-item .item{
      margin-bottom: 0.5rem;
      padding-right: 45px;
    }
  }
}
.virtual-hostess{
  .qr-code {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  padding-bottom: 350px;
}
