$orange: #fcae1e;

$border-gray: #f0f0f0;
$title-gray: #666;
$border-radius: 0.5rem;
$box-shadow: 0 0.5rem 1rem rgba(#000, 0.15) !default;
$box-shadow-orange: 0 0.5rem 1rem rgba($orange, 0.8) !default;
