@use "src/styles/variables" as *;

@keyframes orangeToRedAnimation {
  0% {
    color: $orange;
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(8deg);
  }
  50% {
    color: $red;
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  100% {
    color: $orange;
    transform: rotate(0deg);
  }
}

h3 {
  padding: 0;
  margin: 0;
}

.photo-feed {
  .item {
    margin-bottom: $gutter-lg;
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    padding: 10px;
    .meta {
      margin-bottom: $gutter-sm;
    }
  }
  .feed-end {
    text-align: center;
    margin-bottom: $gutter-lg;
  }
  .feed-loader {
    display: flex;
    justify-content: center;
    margin-bottom: $gutter-lg;
  }
}
