@use "src/styles/variables" as *;

@keyframes orangeToRedAnimation {
  0% {
    color: $orange;
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(8deg);
  }
  50% {
    color: $red;
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  100% {
    color: $orange;
    transform: rotate(0deg);
  }
}

.photo-feed {
  display: flex;
  justify-content: center;
  .item {
    margin-bottom: $gutter-lg;
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    padding: 10px;
    .meta {
      margin-bottom: $gutter-sm;
      .owner {
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
      }
    }
    .photo {
      margin-bottom: $gutter-sm;
      width: 100%;
      .ant-image {
        border-radius: $border-radius;
        box-shadow: $box-shadow-2;
        overflow: hidden;
        width: 100%;
        height: auto;
      }
    }
    .actions {
      cursor: pointer;
      height: 1.2rem;
      display: flex;
      justify-content: space-between;
      width: 100%;
      .anticon {
        font-size: 1.2rem;
        &.like {
          animation: orangeToRedAnimation 1.5s ease-in infinite;
        }
        &.liked {
          color: $red;
        }
        &.liking {
          animation: rotate-left-to-right 0.5s linear infinite;
          color: $orange;
        }
      }
    }
  }
  .feed-end {
    text-align: center;
  }
  .feed-loader {
    display: flex;
    justify-content: center;
    margin-bottom: $gutter-lg;
  }
}
